@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-button: #FFA41D;
  --accent-red: #DE3C4B;
  --accent-blue: #3E7CB1;
  --text-black: #1A1A1A;
  --background-white: #FFFFFF;
}

body {
  background-color: var(--background-white);
  color: var(--text-black);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 32px !important;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .material-symbols-outlined {
    font-size: 64px !important;
    width: 64px;
    height: 64px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
